[Unit]
Description=Run PkgWatch auditd flush periodically

[Timer]
OnBootSec=90
OnUnitActiveSec=120
Unit=pkgwatch-audit.service

[Install]
WantedBy=timers.target
